* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 30vh;
    border: 2px solid black;
}
.textarea {
    display: inline-block;
    width: 720px;
    height: 30vh;
    margin: 10vh 0 20px;
    border: 2px solid black;
    resize: none;
}

.keyboard {
    // width: 5%;
    // height: 7%;
    border: 1px solid black;
    border-radius: 2px;
    margin: 3px;
    padding: 3px;
    flex: 1 1 32px;
    background: rgb(129, 117, 96);
}
.active {
    background: orange;
}